body{
  background-color: black;
}

.homepage {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 7%;
  color:white;
}

h1 {
  color: #3ed6ed;
}

h2 {
  color: #3ed6ed;
}

a {
  color: white;
}

a:hover {
  color: rgb(199, 194, 194)
}

.top-heading {
  margin-bottom: 3em;
}

.container {
  margin: 0;
}

.navBar {
  margin-bottom: 2em;
  border-radius: 3px;
  border: 1px solid white;  
}

div.project:nth-child(odd)  {
  margin-right: 3em;
}

.navLink {
  position: absolute;
  margin-top: 1em;;
}

div.navBar div.col-md-4 {
  text-align: center;
  height: 4em;

}

.projects {
  margin-top: 1em;
  border-radius: 5px;
}
.project {
  padding: 0;
  padding-bottom: 0;
  display: grid;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.proj-link {
  flex: 1;
  margin-bottom: 4em;
}

.faIcon {
  margin-right: 0.5em;
  text-decoration: none;
}

.proj-img {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 1em;
  height: auto;
  width: auto;
  max-height: 20em;
  max-width: 100%;
}