body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}


.DPControlsCntainer {
  margin: 0;
  color: white; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}

.DPControlsCntainer > * {
  margin-right: 1em;
}


legend {
  display: flex;
  font-size: 1rem;
}

.slider {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}


div.slider label.form-label {
  white-space: nowrap;
}


div.slider input.form-range {
  width: 10em;
  margin-right: 1em;
  margin-left: 1em;
}

div.slider label.slider-value {
  width: 2.3em;
}