html {
  height: 100%;
}

canvas {
  position: absolute;
}


.DPControlsCntainer {
  margin: 0;
  color: white; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  height: 50px;
}

div.DPControlsCntainer > div {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}

#playButton {
  min-width: 5.5em;
  margin-right: 1em;
  height: 50px;
}

.accordion {
  z-index: 1;
  width: 33%;
}

.accordion > * {
  width: 100%;
}

.accordion-button {
  height: 45px;
}

.accordion-collapse {
  background-color: rgba(95, 97, 95, 0.8);
  color: white;
}

.accordion-body {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}

.accordion-body input {
  vertical-align: middle;
}

.accordion-body button {
  margin-bottom: 0.5em;
}


.accordion-item:last-of-type {
  border-radius: 0;
  max-height: 3em;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.slider{ 
  flex: 1;
  max-width: 30%; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  margin-bottom: 1em;
}


div.slider label.form-label {
  white-space: nowrap;
}


div.slider input.form-range {
  width: 10em;
  margin-right: 1em;
}

.dot-arrangement-form {
  margin-bottom: 1em;
}

#numDotsInput {
  width: 15em;
}

div.slider label.slider-value {
  width: 2.3em;
}

div.slider label.form-label {
  margin-right: 1em;
}

#numDotsField {
  width: 3em;
}

@media (max-width: 800px) {
  .accordion {
    width: calc(100% - 7em);
  }
}


@media (max-width: 1300px) {
  .slider{ 
    flex: 1;
    display: flex;
    flex-direction: column; 
  }

  div.slider input.form-range {
    margin-right: 0;
  }
}

@media (max-height: 450px) {
  .accordion-body {
    height: 80vh;
    overflow: scroll;
  }
}