body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

canvas {
  position: absolute;
}


.DPControlsCntainer {
  margin: 0;
  color: white; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  max-height: 3em;
}

div.DPControlsCntainer > div {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}

.DPControlsCntainer > * {
  margin-right: 1em;
}

.accordion {
  z-index: 1;
  width: 70%;
}

.accordion > * {
  width: 100%;
}

.accordion-button {
  max-height: 3em;
}

.accordion-collapse {
  background-color: rgba(95, 97, 95, 0.8);
  color: white;
}

.accordion-body {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;

  /* @media (min-width: 1000px) {  
      flex-direction: column; 
  } */
}

.accordion-body input {
  vertical-align: middle;
}

.accordion-body * {
  margin-bottom: 0;
}

.accordion-item {
  background-color: #61dafb;
}

.accordion-item:last-of-type {
  border-radius: 0;
  max-height: 3em;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}



div.slider label.form-label {
  white-space: nowrap;
}


div.slider input.form-range {
  width: 10em;
  margin-right: 1em;
  margin-left: 1em;
}

#numDotsInput {
  width: 15em;
}

div.slider label.slider-value {
  width: 2.3em;
}

#numDotsField {
  width: 3em;
}